@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

@media screen and (max-width: 992px) {
    body{
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {
    body{
        font-size: 12px;
    }
}
@media screen and (max-width: 540px) {
    body{
        font-size: 10px;
    }
}

.page{
    --page-indent: 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: var(--page-indent);
    display: grid;
    gap: var(--page-indent);
}

.page.light{
    --primary-color-100: #F4F2F7;
    --primary-color-200: #FFFFFF;
    --primary-color-300: #F9F9F9;
    --second-color-100: #27242C;
    --second-color-200: #8A8A8E;
}
.page.dark{
    --primary-color-100: #181719;
    --primary-color-200: #27242C;
    --primary-color-300: #3D3A41;
    --second-color-100: #d3d3d3;
    --second-color-200: #F3F3F9;
}

.page{
    background-color: var(--primary-color-100);
    color: var(--second-color-100);
}
section,
header{
    background-color: var(--primary-color-200);
}
input,
textarea,
select {
    background-color: var(--primary-color-300);
    border-color: var(--primary-color-100);
    border-width: 2px;
    color: var(--second-color-200);
}
textarea:focus,
input:focus {
    border-color: var(--second-color-200);
}


section,
header{
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
header h1{
    margin: 0;
}

.mode{
    /*font-size: rem;*/
    font-weight: 700;
    border-radius: 2px;
    border: 2px solid;
    padding: 10px;
    border-color: var(--second-color-200);
    border-radius: 10px;
}


